{% extends "MainPage.html" %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div>
            <strong>{{message|safe}}</strong><br>
        </div>
    {% endfor %}
{% else %}
{{order}}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <label><h3>Upload a file</h3></label>
    <input type="file" name="file">
    <p><b>Only accepts CSV files</b></p>
    <button type="submit">Upload</button>
    <a style="background-color:purple; color:white;" class="btn btn-primary" href="{% url 'question_type_list' %}"><b>Question List</b></a>
    <a style="background-color:purple; color:white;" class="btn btn-primary" href="{% url 'question_type_form' %}"><b>Back</b></a>
</form>
{% endif %}
{% endblock %}