{% extends "MainPage.html" %}
{% block content %}
    <div class="container">
        <h2 class="text-center" style="font-family:sans-serif;">View Fees Register</h2>
        <table class="table table-hover table-sm table-dark">
            <tbody>
                <tr>    
                    <th>Gr Number</th>
                    <th>{{ fee.gr_number }}</th>
                </tr>
                <tr>    
                    <th>Fee Type</th>
                    <th>{{ fee.fee_types }}</th>
                </tr>
                <tr>    
                    <th>Fee Amount</th>
                    <th>{{ fee.fee_amount }}</th>
                </tr>
                <tr>    
                    <th>Month</th>
                    <th>{{ fee.month }}</th>
                </tr>
                <tr>    
                    <th>Due Date</th>
                    <th>{{ fee.due_date }}</th>
                </tr>
                <tr>    
                    <th>Paid Amount</th>
                    <th>{{ fee.paid_amount }}</th>
                </tr>
            </tbody>
        </table>
    </div>
    {% csrf_token %}
</form>

{% endblock %}