<html>
<body>
    {% for i in voucher %}
    <div class="container"><br>
        <h2 class="text-center" style="font-family:sans-serif;" align="center">Voucher</h2><hr/>
        <h5>Student Copy</h5>
        <table class="table table-hover table-sm table-dark">
            <thead align="center">
                <tr>
                    <th>Gr Number</th>
                    <th>Fee Type</th>
                    <th>Fee Amount</th>
                    <th>Month</th>
                    <th>Due Date</th>
                    <th>Paid Amount</th>
                </tr>
            </thead>
            {% for fee in i %}
            <tbody align="center">
                <tr>
                    <th>{{ fee.gr_number }}</th>
                    <th>{{ fee.fee_types }}</th>
                    <th>{{ fee.fee_amount }}</th>
                    <th>{{ fee.month }}</th>
                    <th>{{ fee.due_date }}</th>
                    <th>{{ fee.paid_amount }}</th>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    <div class="container"><br>
        <h2 class="text-center" style="font-family:sans-serif;" align="center">Voucher</h2><hr/>
        <h5>School Copy</h5>
        <table class="table table-hover table-sm table-dark">
            <thead align="center">
                <tr>
                    <th>Gr Number</th>
                    <th>Fee Type</th>
                    <th>Fee Amount</th>
                    <th>Month</th>
                    <th>Due Date</th>
                    <th>Paid Amount</th>
                </tr>
            </thead>
            {% for fee in i %}
            <tbody align="center">
                <tr>
                    <th>{{ fee.gr_number }}</th>
                    <th>{{ fee.fee_types }}</th>
                    <th>{{ fee.fee_amount }}</th>
                    <th>{{ fee.month }}</th>
                    <th>{{ fee.due_date }}</th>
                    <th>{{ fee.paid_amount }}</th>
                </tr>
            </tbody>
            {% endfor %}<br>
        </table>
    </div>
    {% endfor %}
</body>
</html>