{% extends 'MainPage.html' %}
{% load i18n admin_urls %}
{% block content %}
<h1 style="color:purple";><b>Add Class</b></h1>
<form action ="{% url 'class_form' %}" method = "POST">
<a>Class Name = {{user_form.class_name}}</a><br><br>
<a>Remarks = {{user_form.remarks}}</a><br><br>
{% csrf_token %}

<input style="background-color:purple; color:white;" class="btn btn-primary" type ="submit" value="Save and Add Another">

<a style="background-color:purple; color:white;" class="btn btn-primary" href="{% url 'class_list' %}"><b>Back</b></a>
<a style="background-color:purple; color:white;" class="btn btn-primary" href="{% url 'class_upload' %}"><b>Add CSV file</b></a>
</form>
{% endblock %}
