{% extends "Mainpage.html" %}
{% block content %}
<h1 style="color:purple;" ><b>Add Subject</b></h1>
<form action ="{% url 'subject_form' %}" method = "POST">
<a>Subjects = {{user_form.subjects}}</a><br><br>
{% csrf_token %}
<input  style="background-color:purple; color:white;" class="btn btn-primary" type ="submit" value="Save and Add Another">
 <a style="background-color:purple; color:white;" class="btn btn-primary" href="{% url 'subject_list' %}"><b>Back</b></a>
 <a style="background-color:purple; color:white;" class="btn btn-primary" href="{% url 'subject_upload' %}"><b>Add CSV file</b></a>
</form>
{% endblock %}