{% extends "Mainpage.html" %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div>
            <strong>{{message|safe}}</strong><br>
        </div>
    {% endfor %}
{% else %}
{{order}}
<form method="post" enctype="multipart/form-data">
<h1>{{rel}}</h1>
    {% csrf_token %}
    
    <label><h3 style="color:purple;">Upload a file</h3></label>
    <input type="file" name="file">
    <p style="color:purple;"><b>Only accepts CSV files</b></p>
    <button "background-color:purple; color:white;" type="submit"><b>Upload</b></button>
    <a "background-color:purple; color:white;" class="btn btn-primary" href="{% url 'religion_list' %}"><b>Religion List</b></a>
    <a "background-color:purple; color:white;" class="btn btn-primary" href="{% url 'religion_form' %}"><b>Back</b></a>
</form>
{% endif %}
{% endblock %}