{% extends 'MainPage.html' %}

{% block content %}
<h1 style="color:purple;"><b>Add Fee Concession</b></h1>
<form action ="{% url 'fee_concession_form' %}" method = "POST">
<a>Fee Concession Name = {{user_form.fee_concession_name}}</a><br><br>
<a>Concession Percent = {{user_form.concession_percent}}</a><br><br>
<a>Description= {{user_form.description}}</a><br><br>
{% csrf_token %}
<input class="btn btn-primary" type ="submit" value="Save and Add Another">
 <a style="background-color:purple; color:white;" class="btn btn-primary" href="{% url 'fee_concession_list' %}"><b>Back</b></a>
 <a style="background-color:purple; color:white;" class="btn btn-primary" href="{% url 'fee_concession_upload' %}"><b>Add CSV file</b></a>

</form>
{% endblock %}