{% extends "MainPage.html" %}
{% block content %}
<h1>here we can assesment form</h1>
<form action="{% url 'assesment_form' %}" method="POST">
<a>exam_code = {{assesment_form.exam_code }}</a><a href="{% url 'exam_form' %}"> Add Exam </a><br><br>
<a>semester_code = {{assesment_form.semester_code }}</a><a href="{% url 'semester_form' %}"> Add Semester </a><br><br>
<a>semesterB_code = {{assesment_form.semesterbreakup_code }}</a><a href="{% url 'semesterB_form' %}"> Add Semester Breakup </a><br><br>
<a>Quater_Code = {{assesment_form.quater_code }}</a><a href="{% url 'quater_form' %}"> Add Quater </a><br><br>
<a href="{% url 'assesment_form' %}"> Add Assesment </a><br><br>
<a>Assesment_name = {{assesment_form.assesment_name }}</a><br><br>
{% csrf_token %}
<input type="submit" value="Add to Assesment">
</form>
{% endblock %}