{% extends 'MainPage.html' %}

{% block content %}
<h1 style="color:purple;"><b>Add Class Subject</b></h1>
<form action ="{% url 'class_subject_form' %}" method = "POST">
    {% csrf_token %}
    <a>Classes= {{user_form.Class}}</a><a href="{% url 'class_form' %}"> Add Class </a><br><br>
<!-- <a>Subjects= {{user_form.class_subjects}}</a><a href="{% url 'subject_form' %}"> Add subject </a><br><br> -->
    {% for i in subject %}
        <a><input type="checkbox" name="subject" value="{{ i.subject_code }}" >{{ i.subjects }}</input></a><br><br>
    {% endfor %}


        
<input style="background-color:purple; color:white;" class="btn btn-primary" type ="submit" value="Save and Add Another">
<a style="background-color:purple; color:white;" class="btn btn-primary" href="{% url "class_subject_list" %}"><b>Back</b></a>
</form>
{% endblock %}