{% load static %}

<div class="footer-block">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="foot">
    <div class="container-fluid text-light bg-dark">
        {% comment %} <div class="text-center" style="margin:20px 0px">
            <img src="{% static './Footer/images/social-1.png' %}" alt="facebook-image" class="rounded-circle"/>
            <img src="{% static './Footer/images/social-2.png' %}" alt="youtube-image" class="rounded-circle"/>
            <img src="{% static './Footer/images/social-3.png' %}" alt="twitter-image" class="rounded-circle"/>
        </div> {% endcomment %}

        <div class="text-center">
            <h5>Digital School</h5><a>A Project Of Comsoft Systems</a>
        </div>
    </div>
</div>
</div>

