{% extends 'Main/Comon.html' %}
{% load static %}
{% block content %}
			<h2>About <span class="light-text">DIGITAL SCHOOL</span></h2>
			<div class="title-border-container">
				<div class="title-border"></div>
			</div>
			<div class="row mt-70">
				<div class="col-md-6">
					<div class="post-desc">
						<p></p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="post-img">
						<img class="img-responsive js-tilt" src="{% static 'Outside/images/new.jpg' %}" alt="LOGO">
					</div>
				</div>
			</div>
		</div>
    {% endblock %}