<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
        <title>Main</title>
        
        <link rel="stylesheet" type="text/css" href="{% static 'RoundNavbar/css/style.css' %}">
    <!--===============================================================================================-->
    </head>
    <body>
<div class="aa">
<div class="aaa">
    <div class=" js-tilt" style="height:100vh">
        <nav class="menu">
                    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" checked />
                    <label class="menu-open-button" for="menu-open">
                    <img class="logo" src="{% static 'RoundNavbar/images/new.jpg' %}" alt="LOGO" />
                    </label>
                
                    <a href="{% url "login_url" %}" class="menu-item blue"> <i class="fa fa-anchor">Login</i></a>
                    <a href="{% url "about_url" %}" class="menu-item green"> <i class="fa fa-coffee">About</i></a>
                    <a href="{% url "school_url" %}" class="menu-item red"> <i class="fa fa-heart">Schools</i></a>
                    <a href="{% url "contact_url" %}" class="menu-item purple"> <i class="fa fa-microphone">Contact</i></a>
                    <a href="{% url "team_url" %}" class="menu-item orange"> <i class="fa fa-star">Team</i></a>
                    <a href="{% url "detail_url" %}" class="menu-item lightblue"> <i class="fa fa-diamond">Details</i></a>
        </nav>
    </div>
    </div>
</div>
<script src="{% static 'RoundNavbar/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'RoundNavbar/js/tilt.jquery.min.js' %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1
		})
	</script>

    </body>
</html>