{% extends 'Main/Comon.html' %}
{% load static %}
    {% block content %}
	<div class="school-list">
		<table class="table table-hover table-sm table-dark">
		<thead align="center">
			<tr>
                        <h2>School List <span class="light-text">DIGITAL SCHOOL</span></h2>
				<td>$</td>
			</tr>
		</thead>
		<tbody align="center">
			<tr>
				<td class="editable" >New Vision Public School</td>
				<td>500$</td>
			</tr>
			<tr>
				<td>Little School</td>
				<td>400$</td>
			</tr>
			<tr>
				<td>New Roomi School</td>
				<td>300$</td>
			</tr>
		</tbody>
		</table>
	</div>
		
    {% endblock %}