{% extends 'MainPage.html' %}

{% block content %}
<h1 style="color:purple;"><b>Add City</b></h1>
<form action ="{% url 'city_form' %}" method = "POST">
<a style="color:purple;">City = {{user_form.cities}}</a><br><br>
{% csrf_token %}
<input style="background-color:purple; color:white;" class="btn btn-primary" type ="submit" value="Save and Add Another">
<a style="background-color:purple; color:white;" class="btn btn-primary" href="{% url "city_list" %}"><b>Back</b></a>
<a style="background-color:purple; color:white;" class="btn btn-primary" href="{% url "city_upload" %}"><b>Add CSV File</b></a>

</form>
{% endblock %}