{% extends "MainPage.html" %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div>
            <strong>{{message|safe}}</strong><br>
        </div>
    {% endfor %}
{% else %}
{{order}}
<form method="POST" enctype="multipart/form-data">
<h1>{{cit}}</h1>
    {% csrf_token %}
    
    <label><h3 style="color:purple;"><b>Upload a file</b></h3></label>
    <input type="file" name="file">
    <p style="color:purple;"><b>Only accepts CSV files</b></p>
    <button style="background-color:purple; color:white;" type="submit"><b>Upload</b></button>
<a style="background-color:purple; color:white;" class="btn btn-primary" href="{% url "city_list" %}">City List</b></a>
<a style="background-color:purple; color:white;" class="btn btn-primary" href="{% url "city_form" %}">Back</b></a>
</form>
{% endif %}
{% endblock %}