{% extends "MainPage.html" %}
{% block content %}
<form action="{% url "fee_reg_create" %}" method="POST">
    <div class="container">
        <h2 class="text-center" style="font-family:sans-serif;">Fees Register Add Form</h2><hr/>
        <a href="{% url "fee_reg_create_to_all" %}">Add Another To All</a>
        <table class="table table-hover table-sm table-dark">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Form</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>gr_number</th>
                    <th>{{ user_form.gr_number }}</th>
                </tr>
                <tr>
                    <th>fee_types</th>
                    <th>{{ user_form.fee_types }}</th>
                </tr>
                <tr>
                    <th>fee_amount</th>
                    <th>{{ user_form.fee_amount }}</th>
                </tr>
                <tr>
                    <th>month</th>
                    <th>{{ user_form.month }}</th>
                </tr>
                <tr>
                    <th>due_date</th>
                    <th>{{ user_form.due_date }}</th>
                </tr>
                <tr>
                    <th>paid_amount</th>
                    <th>{{ user_form.paid_amount }}</th>
                </tr>
                <tr>
                    <td>Submit</td>
                    <td><input class="btn btn-primary" type="submit" value="Add to Fee Register"></td>
                </tr>
            </tbody>
        </table>
    </div>
    {% csrf_token %}

</form>

{% endblock %}