<!DOCTYPE html>
{% load static %}
<html>
  <head>
      <link href="{% static './PageSetup/style.css'%}" rel="stylesheet">
      <link  href="{% static './TopNavbar/style.css'%}" rel="stylesheet"/>
      <link href="{% static './SideNavbar/index.css'%}" rel="stylesheet"/>
      <link href="{% static './Footer/style.css'%}" rel="stylesheet"/>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

      <!--Page Title-->
      <title>DIGITAL SCHOOL</title>
  </head>
  <body>
    <div id="nav" style="height: 80px;">
      {% comment %} {% include 'MainExtended/TopNavbar.html' %} {% endcomment %}
      {% include 'MainExtended/TopNav.html' %}
    </div>
    <!-- <div class="container"> -->
      <div class='side-block'>
        {% include 'MainExtended/SideNav.html' %}
      </div>
      <div id="data" class='data'>
        <div class="col">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    <!-- </div> -->
      {% include 'MainExtended/Footer.html' %}
  </body>
  <script>
    var date = new Date();

    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();

    if (month < 10) month = "0" + month;
    if (day < 10) day = "0" + day;

    var today = year + "-" + month + "-" + day;       
    document.getElementById("theDate").value = today;
  </script>
  <script>
    $(document).ready(function () {
        $('select').selectize({
            sortField: 'text'
        });
    });
  </script>

</html>